[mysqld]
user = mysql
port = 3306
datadir = /var/lib/mysql
bind-address = 0.0.0.0
skip-networking = false
socket = /var/lib/mysql/mysql.sock

[mysql]
user = root
password = mysql
port = 3306
socket = /var/lib/mysql/mysql.sock